@{
ViewBag.Title = "Home Page";
}

<div class="wrapper">
    <h3>Vidly Video Rentals</h3>
        <img class="logo" src="~/Content/Images/vidly-logo.png" alt="">
    <h3>Featuring Our Own Blu-ray and DVD Releases</h3>

</div>