@* Directives *@
@model Vidly.ViewModels.RandomViewMovieModel

@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    var className = Model.Customers.Count > 1 ? "Popular" : null; //this is a C# code
}

<h2 class="@className">@Model.Movie.Name</h2>

@* comment the name of the customers on the list to see this message *@
@if(Model.Customers.Count==0)
{
    <p>No one has rented this movie before.</p>
}
else
{
    <ul>
        @foreach(var customers in Model.Customers)
        {
            <li>@customers.Name</li>
        }
    </ul>
}
