@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
<p>@Html.ActionLink("New Customer", "New", "Customers", null ,new { @class="btn btn-primary" })</p>
<table id="customers" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Customers</th>
            <th>Date of Birth</th>
            <th>Membership Type</th>
        </tr>
    </thead>
    <tbody>
            
    </tbody>
</table>

@section scripts 
{
    <script>
        // Form load event
        $(document).ready(function () {
            var table = $("#customers").DataTable({ 
                ajax: { // ajax property call, there are 2 objects
                    url: "/api/customers", // Get
                    dataSrc: ""
                },
                columns: [ // Columns property, array of objects
                    {
                        data: "name"
                    },
                    {
                        data: "birthdate"
                    },
                    { data: "membershipType.name" }
                ],
                order: [[2, "asc"]],
                rowGroup: { dataSrc: "membershipType.name" }
            });
        });
    </script>
}

