
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table id="customers" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Customers</th>
            <th>Movies</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Customers</th>
            <th>Movies</th>
        </tr>
    </tfoot>
</table>

@section scripts
{
    <script>

        $(document).ready(function () {
            $('#customers').DataTable({
                ajax: { url: "/api/rentals", dataSrc: ""},
                columns: [
                    { data: 'customer.name' },
                    { data: "movie.title" }
                ],
                order: [
                    [0, 'asc']
                ],
                rowGroup: { dataSrc: 'customer.name'}
            });
        });
    </script>
}
